altgraph==0.16.1
asgiref==3.2.7
beautifulsoup4==4.8.0
certifi==2019.3.9
chardet==3.0.4
dj-database-url==0.5.0
Django==3.0.5
django-ckeditor==5.9.0
django-js-asset==1.2.2
django-modeltranslation==0.15
docutils==0.14
future==0.17.1
gunicorn==20.0.4
idna==2.8
macholib==1.11
pefile==2019.4.18
pexpect==4.7.0
Pillow==7.1.1
psycopg2==2.7.3.1
ptyprocess==0.6.0
Pygments==2.3.1
pypiwin32==223
pytz==2019.3
pywin32==224
pywin32-ctypes==0.2.0
requests==2.21.0
sh==1.12.14
six==1.12.0
soupsieve==1.9.3
sqlparse==0.3.1
urllib3==1.24.2
virtualenv==16.7.9
whitenoise==5.1.0
