<footer>
    <div class="container">
        <div class="row footer_framme">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer_label1">
                        <h2><strong>AUDI</strong></h2>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="footer_label2">
                        <h6>Автосалон</h6>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-3 footer_pad_o">
                    <div class="footer_label2">
                        <h6>AUDI Copyrirht 2020</h6>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-7 footer_pad_o col-md-12">
                    <div class="footer_icons">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>