{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
    <div class="container-fluid" style="padding: 0;">
        <div class="row">
            <div class="col-lg-12">
                <div class="car-top-info">
                    <h3>
                        Ваше дополнительное преимущество до 280 000 рублей.
                    </h3>
                    <p>
                        До 31.03.2020 года в АЦ Новороссийск для владельцев автомобилей премиум класса не старше 7 лет действует специальная программа трейд-ин.
Размер бонуса зависит от выбранной модели Audi и суммируется к оценке стоимости вашего текущего автомобиля.
Предложение по трейд-ин сочетается с любыми действующими акциями на новые автомобили Audi.
Подробную информацию об условиях программы вы можете узнать в АЦ Новороссийск.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="padding: 0;">
                <div class="car-models-filter">
                    <ul>
                        <li>A3</li>
                        <li>A4</li>
                        <li>A5</li>
                        <li>A6</li>
                        <li>A7</li>
                        <li>A8</li>
                        <li>Q3</li>
                        <li>Q5</li>
                        <li>Q7</li>
                        <li>Q8</li>
                        <li>Все модели</li>
                        <li>Пройти тест-драйв</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="car-cards-container">
        <div class="car-card">
            <div class="car-card-inner">
                <div class="car-img-outer">
                    <img class="car-img" src="https://avatars.mds.yandex.net/get-pdb/904462/b198eaa8-1975-4554-a54b-3acadf0ba357/s1200?webp=false" alt="">
                </div>
                <div class="car-mini-info">
                    <div class="hidden-info-car-1">
                        <div class="car-card-text">
                            <h5>AUDI</h5>
                            <h6>Q7</h6>
                        </div>
                    </div>
                    <div class="hidden-info-car-2">
                        <h5>AUDI</h5>
                        <h6>Q7</h6>
                        <p>
                            We’ll perform the car checkup and find issues with cooling system, engine, steering and suspension for you! You don’t have to be an expert to do car maintenance!
                        </p>
                        <a href="#"><h4>LEARN MORE</h4></a>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
        <div class="car-card">
            <div class="car-card-inner">
                <div class="car-img-outer">
                    <img class="car-img" src="https://avatars.mds.yandex.net/get-pdb/904462/b198eaa8-1975-4554-a54b-3acadf0ba357/s1200?webp=false" alt="">
                </div>
                <div class="car-mini-info">
                    <div class="hidden-info-car-1">
                        <div class="car-card-text">
                            <h5>AUDI</h5>
                            <h6>Q7</h6>
                        </div>
                    </div>
                    <div class="hidden-info-car-2">
                        <h5>AUDI</h5>
                        <h6>Q7</h6>
                        <p>
                            We’ll perform the car checkup and find issues with cooling system, engine, steering and suspension for you! You don’t have to be an expert to do car maintenance!
                        </p>
                        <a href="#"><h4>LEARN MORE</h4></a>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
        <div class="car-card">
            <div class="car-card-inner">
                <div class="car-img-outer">
                    <img class="car-img" src="https://avatars.mds.yandex.net/get-pdb/904462/b198eaa8-1975-4554-a54b-3acadf0ba357/s1200?webp=false" alt="">
                </div>
                <div class="car-mini-info">
                    <div class="hidden-info-car-1">
                        <div class="car-card-text">
                            <h5>AUDI</h5>
                            <h6>Q7</h6>
                        </div>
                    </div>
                    <div class="hidden-info-car-2">
                        <h5>AUDI</h5>
                        <h6>Q7</h6>
                        <p>
                            We’ll perform the car checkup and find issues with cooling system, engine, steering and suspension for you! You don’t have to be an expert to do car maintenance!
                        </p>
                        <a href="#"><h4>LEARN MORE</h4></a>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}