{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="car-top-info">
                    <h3>
                        Ваше дополнительное преимущество до 280 000 рублей.
                    </h3>
                    <p>
                        До 31.07.2020 года для владельцев автомобилей премиум класса не старше 7 лет действует специальная программа трейд-ин.
Размер бонуса зависит от выбранной модели Audi и суммируется к оценке стоимости вашего текущего автомобиля.
Предложение по трейд-ин сочетается с любыми действующими акциями на новые автомобили Audi.
Подробную информацию об условиях программы вы можете узнать у консультанта.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid" style="padding: 0;">
        <div class="row">
            <div class="col-lg-12" style="padding: 0;">
                <form action="{% url 'json_filter_cars' %}" method="get" name="filter">
                    <div class="car-models-filter">
                        <ul>
                            <li>
                                <label class="checkbox-label">
                                    <input name="model" value="A4" type="checkbox">
                                    <span>A4</span>
                                </label>
                            </li>
                            <li>
                                <label class="checkbox-label">
                                    <input name="model" value="A5" type="checkbox">
                                    <span>A5</span>
                                </label>
                            </li>
                            <li>
                                <label class="checkbox-label">
                                    <input name="model" value="A6" type="checkbox">
                                    <span>A6</span>
                                </label>
                            </li>
                            <li>
                                <label class="checkbox-label">
                                    <input name="model" value="A7" type="checkbox">
                                    <span>A7</span>
                                </label>
                            </li>
                            <li>
                                <label class="checkbox-label">
                                    <input name="model" value="A8" type="checkbox">
                                    <span>A8</span>
                                </label>
                            </li>
                            <li>
                                <label class="checkbox-label">
                                    <input name="model" value="Q3" type="checkbox">
                                    <span>Q3</span>
                                </label>
                            </li>
                            <li>
                                <label class="checkbox-label">
                                    <input name="model" value="Q5" type="checkbox">
                                    <span>Q5</span>
                                </label>
                            </li>
                            <li>
                                <label class="checkbox-label">
                                    <input name="model" value="Q7" type="checkbox">
                                    <span>Q7</span>
                                </label>
                            </li>
                            <li>
                                <label class="checkbox-label">
                                    <input name="model" value="Q8" type="checkbox">
                                    <span>Q8</span>
                                </label>
                            </li>
                            <li>
                                <label class="checkbox-label">
                                    <input name="model" value="S" type="checkbox">
                                    <span>S</span>
                                </label>
                            </li>
                            <li>
                                <label class="checkbox-label">
                                    <input name="model" value="RS" type="checkbox">
                                    <span>RS</span>
                                </label>
                            </li>

                            <li><button type="submit">Фильтровать</button></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="car-cards-container">
        {% for car in car_list %}
            <div class="car-card">
                <div class="car-img-outer">
                    <img class="car-img" src="{{ car.poster }}" alt="">
                    <div class="img-tile"></div>
                </div>
                <div class="car-title">
                    <h3>AUDI {{ car.model }} {{ car.line }}</h3>
                    <h5>от {{ car.price }} руб. вкл. НДС</h5>
                </div>
                <div class="car-button">
                    <a href="{{ car.get_absolute_url }}"><i class="fa fa-angle-right" aria-hidden="true"></i> Обзор</a>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

<script src="{% static 'js/lib/hogan.js' %}"></script>
<script src="{% static 'js/cars_filter.js' %}"></script>

{% endblock content %}