{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
    <div class="container">
        <div class="col-lg-3">
            <div class="under_slider_block car-card" data-name = "parent_block">
                <div class="under_slider_block_first" data-name="first_block">
                    <div>
                        <i class="fa fa-car" aria-hidden="true"></i>
                        <div class="under_slider_block_text">
                            <h5>AUDI</h5>
                            <h6>Q7</h6>
                        </div>
                    </div>
                    <div>
                        <h5>AUDI</h5>
                        <h6>Q7</h6>
                        <p>
                            We’ll perform the car checkup and find issues with cooling system, engine, steering and suspension for you! You don’t have to be an expert to do car maintenance!
                        </p>
                        <a href="#"><h4>LEARN MORE</h4></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}