{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Корзина{% endblock title %}

{% block content %}
<section style="margin: 50px 0 50px 0;">
	<div class="container">
		<div class="row">
			<div class="col-lg-9" id="cartItems">

		    </div>
		    <div class="item-sidebar col-lg-3">
		    	<div class="item-sidebar-cart">
		    		<h1>{% trans 'Корзина покупок' %}</h1>
		    		<div class="item-sidebar-cart-body">
		    			<ul class="prices">
		    				<li>
		    					<label>{% trans 'Цена за товар' %}</label>
		    					<div class="pull-right products-price"><b>1000.00₽</b></div>
		    				</li>
		    				<li>
		    					<label>{% trans 'Стоимость доставки' %}</label>
		    					<div class="pull-right"><b>400.00₽</b></div>
		    				</li>
		    			</ul>
		    			<ul class="total-price">
		    				<li>
		    					<label>{% trans 'Общая стоимость' %}</label>
		    					<div class="pull-right total-price-number"><b>1000.00₽</b></div>
		    				</li>
		    			</ul>
		    			<div class="item-sidebar-cart-body-buttons pull-right">
		    				<button class="buy-button">{% trans 'Купить' %}</button>
		    			</div>
		    		</div>
		    		<div class="item-sidebar-cart-coupon">
		    			<h1>{% trans 'Использовать купон' %}</h1>
		    			<div class="item-sidebar-cart-coupon-body">
		    				<div class="coupon">
	        					<input type="text" placeholder="">
	        					<button>OK</button>
	        				</div>
		    			</div>
		    		</div>
		    	</div>
		    </div>
		</div>
	</div>
</section>

<script src="{% static 'js/cart.js' %}"></script>

{% endblock content %}