{% extends 'base.html' %}

{% load static %}
{% block content %}
<section>
    <div class="container" id="under_slider_blocks">
        <div class="row">
            <div class="col-lg-3">
                <div class="under_slider_block" data-name = "parent_block">
                    <div class="under_slider_block_main" data-name = "block_main" data-status = "false"></div>
                    <div class="under_slider_block_first" data-name="first_block">
                        <i class="fa fa-wrench" aria-hidden="true"></i>
                        <div class="under_slider_block_text">
                            <h5>PREVENTATIVE</h5>
                            <h6>MAINTENANCE</h6>
                        </div>
                    </div>
                    <div class="under_slider_block_second" data-name="second_block">
                        <div>
                            <h5>PREVENTATIVE</h5>
                            <h6>MAINTENANCE</h6>
                            <p>
                                We’ll perform the car checkup and find issues with cooling system, engine, steering and suspension for you! You don’t have to be an expert to do car maintenance!
                            </p>
                            <h4>LEARN MORE</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="under_slider_block" data-name = "parent_block">
                    <div class="under_slider_block_main" data-name = "block_main" data-status = "false"></div>
                    <div class="under_slider_block_first" data-name="first_block">
                        <i class="fa fa-car" aria-hidden="true"></i>
                        <div class="under_slider_block_text">
                            <h5>COMMON</h5>
                            <h6>REPAIRS</h6>
                        </div>
                    </div>
                    <div class="under_slider_block_second" data-name="second_block">
                        <div>
                            <h5>PREVENTATIVE</h5>
                            <h6>MAINTENANCE</h6>
                            <p>
                                We’ll perform the car checkup and find issues with cooling system, engine, steering and suspension for you! You don’t have to be an expert to do car maintenance!
                            </p>
                            <h4>LEARN MORE</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="under_slider_block" data-name = "parent_block">
                    <div class="under_slider_block_main" data-name = "block_main" data-status = "false"></div>
                    <div class="under_slider_block_first" data-name="first_block">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <div class="under_slider_block_text">
                            <h5>TRANSMISSION</h5>
                            <h6>REPAIR</h6>
                        </div>
                    </div>
                    <div class="under_slider_block_second" data-name="second_block">
                        <div>
                            <h5>PREVENTATIVE</h5>
                            <h6>MAINTENANCE</h6>
                            <p>
                                We’ll perform the car checkup and find issues with cooling system, engine, steering and suspension for you! You don’t have to be an expert to do car maintenance!
                            </p>
                            <h4>LEARN MORE</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="under_slider_block" data-name = "parent_block">
                    <div class="under_slider_block_main" data-name = "block_main" data-status = "false"></div>
                    <div class="under_slider_block_first" data-name="first_block">
                        <i class="fa fa-bolt" aria-hidden="true"></i>
                        <div class="under_slider_block_text">
                            <h5>ELECTRICAL</h5>
                            <h6>DIAGNOSTICS</h6>
                        </div>
                    </div>
                    <div class="under_slider_block_second" data-name="second_block">
                        <div>
                            <h5>PREVENTATIVE</h5>
                            <h6>MAINTENANCE</h6>
                            <p>
                                We’ll perform the car checkup and find issues with cooling system, engine, steering and suspension for you! You don’t have to be an expert to do car maintenance!
                            </p>
                            <h4>LEARN MORE</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="our_stats">
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="our_stats_label">
                    <h6>SOME STATISTICS ABOUT US</h6>
                    <h2>AUTO REPAIR TECHNICAL STATISTICS</h2>
                    <h1>YOU MUST KNOW</h1>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="our_stats_info">
                    <span class="our_stats_number">10</span>
                    <div class="our_stats_text">YEARS OF<br> <b>EXPERIENCE</b></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="our_stats_info">
                    <span class="our_stats_number">3<span style="font-size: 0.8em; vertical-align: 8px;">2</span></span>
                    <div class="our_stats_text">TECHNICIANS<br> <b>& WORKERS</b></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="our_stats_info">
                    <span class="our_stats_number"><span style="font-size: 0.8em; vertical-align: 7px;">2</span>57<span style="vertical-align: 8px;">8</span></span>
                    <div class="our_stats_text">SATISFIED<br> <b>CUSTOMERS</b></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="our_services">
    <div class="container">
        <div class="row framme">
            <div class="col-lg-6 col-12 box">
                <div class="row">
                    <h2 class="gray_title">Our services</h2>
                </div>
                <div class="row">
                    <h2 class="wide_title">Below are some of</h2>
                </div>
                <div class="row">
                    <h2 class="many_auto">The many auto repair services we offer:</h2>
                </div>
                <div class="row">
                    <h2 class="text">Meet the skilled team of mechanics with over 5 years of immaculate experience in car
                        repair industry! We use only top quality parts, and are bent on making your road trips safe and comfortable!
                        We’re always glad to assist you in these tasks.
                    </h2>
                </div>
                <div style="height: 38px;">
                </div>
                <div class="row">
                    <button class="slider_button btn">BOOK AN APPOINTMENT</button>
                </div>
            </div>
            <div class="col-lg-3 col-12">
                <ul>
                    <li><p><i class="fa fa-chevron-right" aria-hidden="true"></i> FREE Loaner Cars</p></li>
                    <li><p><i class="fa fa-chevron-right" aria-hidden="true"></i> FREE Shuttle Service</p></li>
                    <li><p><i class="fa fa-chevron-right" aria-hidden="true"></i> General Auto Repair & Maintenance</p></li>
                    <li><p><i class="fa fa-chevron-right" aria-hidden="true"></i> General Auto Repair & Maintenance</p></li>
                    <li><p><i class="fa fa-chevron-right" aria-hidden="true"></i> Manufacturer Recommended Service</p></li>
                    <li><p><i class="fa fa-chevron-right" aria-hidden="true"></i> Brake Repair and Replacement</p></li>
                    <li><p><i class="fa fa-chevron-right" aria-hidden="true"></i> Air Conditioning A/C Repair</p></li>
                    <li><p><i class="fa fa-chevron-right" aria-hidden="true"></i> Tire Repair and Replacemend</p></li>
                    <li><p><i class="fa fa-chevron-right" aria-hidden="true"></i> Fuel System Repair</p></li>
                </ul>
            </div>
            <div class="col-lg-3 col-12">
                <ul>
                    <li><p><i class="fa fa-chevron-right" aria-hidden="true"></i> Starting and Charging Repair</p></li>
                    <li><p><i class="fa fa-chevron-right" aria-hidden="true"></i> Wheel Alignment</p></li>
                    <li><p><i class="fa fa-chevron-right" aria-hidden="true"></i> CV Axles</p></li>
                    <li><p><i class="fa fa-chevron-right" aria-hidden="true"></i> Computer Diagnostic Testing</p></li>
                    <li><p><i class="fa fa-chevron-right" aria-hidden="true"></i> Vehicle Preventative Maintenance</p></li>
                    <li><p><i class="fa fa-chevron-right" aria-hidden="true"></i> State Emissions Inspection</p></li>
                    <li><p><i class="fa fa-chevron-right" aria-hidden="true"></i> Emission Repair Facility</p></li>
                    <li><p><i class="fa fa-chevron-right" aria-hidden="true"></i> Tune Up</p></li>
                    <li><p><i class="fa fa-chevron-right" aria-hidden="true"></i> Oil Chacge</p></li>
                    <li><p><i class="fa fa-chevron-right" aria-hidden="true"></i> Brake Job / Brake Service</p></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="how_it_works">
    <div class="container">
        <div class="row framme">
            <div class="row how_it_works_label_1">
                <h2 class="gray_title">How it works</h2>
            </div>
            <div class="row how_it_works_label_2">
                <h2 class="wide_title">How it <strong>works</strong></h2>
            </div>
            <div class="row justify-content-between">
                <div class="col-lg-3 col-md-6">
                    <div class="slot">
                        <img src="{% static 'img/carrepair-img-2.jpg' %}" alt="1">
                        <h3><strong>Make an</strong></h3>
                        <h3>Appointment</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="slot">
                        <img src="{% static 'img/carrepair-img-3.jpg' %}" alt="2">
                        <h3><strong>Select</strong></h3>
                        <h3>Services</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="slot">
                        <img src="{% static 'img/carrepair-img-4.jpg' %}" alt="3">
                        <h3><strong>Select quote</strong></h3>
                        <h3>Confirm request</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="slot">
                        <img src="{% static 'img/carrepair-img-5.jpg' %}" alt="4">
                        <h3><strong>Get your</strong></h3>
                        <h3>Car</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="our_latest_specials">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4" style="padding: 0%;">
                <img src="{% static 'img/carrepair-img-6.png' %}" alt="25">
            </div>
            <div class="col-lg-9">
                <div class="row our_latest_specials_content">
                    <div class="row">
                        <h2 class="wide_title">Our latest specials</h2>
                    </div>
                    <div class="row">
                        <h2 class="wide_title"><strong>Any service of $250 or more</strong></h2>
                    </div>
                    <div class="row">
                        <p>We value our clients, that`s why we want to give you this special discount in order
                            for you to use it to make your car more safe and feel confident when on the road!
                        </p>
                        <a href="#">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="our_certified">
    <div class="container">
        <div class="row framme">
            <div class="row our_certified_label_1">
                <h2 class="gray_title">Our certified</h2>
            </div>
            <div class="row our_certified_label_2">
                <h2 class="wide_title">Why choose <strong>certified service?</strong></h2>
            </div>
            <div class="row justify-content-between">
                <div class="col-lg-4">
                    <div class="our_certified_block">
                        <div class="our_certified_block_content">
                            <div class="our_certified_icon">
                                <i class="fa fa-calculator our_certified_icon_fa" aria-hidden="true"></i>
                            </div>
                            <h3><strong>Estimates</strong></h3>
                            <p class="text">
                                We are the service that estimates fairly the isues with the car
                                and gives you the precise help you need to make your car safe!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="our_certified_block">
                        <div class="our_certified_block">
                            <div class="our_certified_block_content">
                                <div class="our_certified_icon">
                                    <i class="fa fa-paste our_certified_icon_fa" aria-hidden="true"></i>
                                </div>
                                <h3><strong>Trusted</strong></h3>
                                <p class="text">
                                    Lots of satisfled clients return to our certified service to get
                                    help from our skilled car mechanics!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="our_certified_block">
                        <div class="our_certified_block">
                            <div class="our_certified_block_content">
                                <div class="our_certified_icon">
                                    <i class="fa fa-certificate our_certified_icon_fa" aria-hidden="true"></i>
                                </div>
                                <h3><strong>Guarantees</strong></h3>
                                <p class="text">
                                    We guarantee the quality of the work performed. That`s why we`re
                                    ready yo solve any problem that arose again for free!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="photos">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="photos_box">
                <img src="{% static 'img/carrepair-img-7.jpg' %}" alt="11">
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="photos_box">
                <img src="{% static 'img/carrepair-img-8.jpg' %}" alt="12">
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="photos_box">
                <img src="{% static 'img/carrepair-img-9.jpg' %}" alt="13">
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="photos_box">
                <img src="{% static 'img/carrepair-img-10.jpg' %}" alt="14">
            </div>
        </div>
    </div>
</section>
<section class="testimonials">
    <div class="container">
        <div class="row framme">
            <div class="row our_certified_label_1">
                <h2 class="gray_title">Testimonials</h2>
            </div>
            <div class="row our_certified_label_2">
                <h2 class="wide_title">What our <strong>clients say</strong></h2>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="testimonials_block">
                        <div class="testimonials_block_content">
                            <div class="row">
                                <div class="col-2" style="padding: 0;">
                                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                                </div>
                                <div class="col" style="padding: 0;">
                                    <p class="text">
                                        I had a pre-purchase inspection on a Mazda. I was looking to buy it and they
                                        let me bring it in on a Saturday with no appoing. Great guys! I recommend this
                                        service to everyone who looks for quality!
                                    </p>
                                    <h6>William Hill</h6>
                                    <h6 class="testimonials_date">26 September, 2017</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonials_block">
                        <div class="testimonials_block_content">
                            <div class="row">
                                <div class="col-2" style="padding: 0;">
                                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                                </div>
                                <div class="col" style="padding: 0;">
                                    <p class="text">
                                        I do oil changes regulary here, as the car needs the oil changed in order to work
                                        properly. The workers are polite and they really know what they do. I`m also satisfied
                                        with the prices here!
                                    </p>
                                    <h6>Brian Murdoch</h6>
                                    <h6 class="testimonials_date">09 October, 2017</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonials_block">
                        <div class="testimonials_block_content">
                            <div class="row">
                                <div class="col-2" style="padding: 0;">
                                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                                </div>
                                <div class="col" style="padding: 0;">
                                    <p class="text">
                                        I had a fuel injection issue, and that`s why i turned to this service! They fixed everything
                                        and even washed my car for free! I`m glad that i went there, the people working there also
                                        gave me warranty.
                                    </p>
                                    <h6>Richard Smith</h6>
                                    <h6 class="testimonials_date">01 September, 2017</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="schedule_appointment">
    <div class="container">
        <div class="row framme">
            <div class="col-lg-4">
                <img src="{% static 'img/image-11.jpg' %}" alt="111">
            </div>
            <div class="col-lg-8">
                <div class="schedule_appointment_content">
                    <div class="row schedule_appointment_label_1">
                        <h2 class="wide_title">Shedule your appointment today</h2>
                    </div>
                    <div class="row schedule_appointment_label_2">
                        <h2 class="wide_title schedule_appointment_red_h"><strong>Call: 1-800-123-4567</strong></h2>
                    </div>
                    <div class="row schedule_appointment_label_3">
                        <h6 class="text">Your Automotive Repair & Maintenance Service Specialist</h6>
                    </div>
                    <div class="row">
                        <div class="col" style="padding: 0;">
                            <button class="slider_button btn">BOOK AN APPOINTMENT</button>
                        </div>
                        <div class="col" style="padding: 0;">
                            <button class="slider_button black_button btn">GET QUOTE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contacts">
    <div class="container">
        <div class="row framme">
            <div class="col-lg-4" style="padding: 0;">
                <div class="row">
                    <div class="col-2"><i class="fa fa-map-marker contacts_icon" aria-hidden="true"></i></div>
                    <div class="col-10">
                        <h6>Address:</h6>
                        <h6>4578 Marmora road, glasgow</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" style="padding: 0;">
                <div class="row">
                    <div class="col-2"><i class="fa fa-phone contacts_icon" aria-hidden="true"></i></div>
                    <div class="col-10">
                        <h6>Phones:</h6>
                        <h6>+7-495-1234567; +7-495-1234568</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" style="padding: 0;">
                <div class="row">
                    <div class="col-2"><i class="fa fa-clock-o contacts_icon" aria-hidden="true"></i></div>
                    <div class="col-10">
                        <h6>Working time:</h6>
                        <h6>Monday-saturday: 08:00-18:00;</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Acda90f0e685f4720ae77812bf21de398f0480379cad8f4ba343dd039618b42b4&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>

<script src="{% static 'js/blocks.js' %}"></script>
{% endblock content %}
