{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% block content %}
<section>
    <div class="container" id="under_slider_blocks">
        <div class="row">
            <div class="col-lg-3">
                <div class="under_slider_block" data-name = "parent_block">
                    <div class="under_slider_block_first" data-name="first_block">
                        <div>
                            <i class="fa fa-car" aria-hidden="true"></i>
                            <div class="under_slider_block_text">
                                <h5>AUDI</h5>
                                <h6>S8</h6>
                            </div>
                        </div>
                        <div>
                            <h5>AUDI</h5>
                            <h6>S8</h6>
                            <p>
                                We’ll perform the car checkup and find issues with cooling system, engine, steering and suspension for you! You don’t have to be an expert to do car maintenance!
                            </p>
                            <a href="{% url 'car_detail_view' 'audi-s-8' %}"><h4>LEARN MORE</h4></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="under_slider_block" data-name = "parent_block">
                    <div class="under_slider_block_first" data-name="first_block">
                        <div>
                            <i class="fa fa-car" aria-hidden="true"></i>
                            <div class="under_slider_block_text">
                                <h5>AUDI</h5>
                                <h6>RS 4</h6>
                            </div>
                        </div>
                        <div>
                            <h5>AUDI</h5>
                            <h6>RS 4</h6>
                            <p>
                                We’ll perform the car checkup and find issues with cooling system, engine, steering and suspension for you! You don’t have to be an expert to do car maintenance!
                            </p>
                            <a href="{% url 'car_detail_view' 'audi-rs-4' %}"><h4>LEARN MORE</h4></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="under_slider_block" data-name = "parent_block">
                    <div class="under_slider_block_first" data-name="first_block">
                        <div>
                            <i class="fa fa-car" aria-hidden="true"></i>
                            <div class="under_slider_block_text">
                                <h5>AUDI</h5>
                                <h6>A4</h6>
                            </div>
                        </div>
                        <div>
                            <h5>AUDI</h5>
                            <h6>A4</h6>
                            <p>
                                We’ll perform the car checkup and find issues with cooling system, engine, steering and suspension for you! You don’t have to be an expert to do car maintenance!
                            </p>
                            <a href="{% url 'car_detail_view' 'audi-a4' %}"><h4>LEARN MORE</h4></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="under_slider_block" data-name = "parent_block">
                    <div class="under_slider_block_first" data-name="first_block">
                        <div>
                            <i class="fa fa-car" aria-hidden="true"></i>
                            <div class="under_slider_block_text">
                                <h5>AUDI</h5>
                                <h6>RS 5 Coupe</h6>
                            </div>
                        </div>
                        <div>
                            <h5>AUDI</h5>
                            <h6>RS 5 Coupe</h6>
                            <p>
                                We’ll perform the car checkup and find issues with cooling system, engine, steering and suspension for you! You don’t have to be an expert to do car maintenance!
                            </p>
                            <a href="{% url 'car_detail_view' 'audi-rs-5-coupe' %}"><h4>LEARN MORE</h4></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="our_stats">
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="our_stats_label">
                    <h6>{% trans 'СТАТИСТИКА О НАС' %}</h6>
                    <h2>{% trans 'ВЫ ДОЛЖНЫ ЗНАТЬ' %}</h2>
                    <h1></h1>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="our_stats_info">
                    <span class="our_stats_number">10</span>
                    <div class="our_stats_text">{% trans 'ЛЕТ' %}<br> <b>{% trans 'ОПЫТА' %}</b></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="our_stats_info">
                    <span class="our_stats_number">3<span style="font-size: 0.8em; vertical-align: 8px;">2</span></span>
                    <div class="our_stats_text">{% trans 'МЕХАНИКОВ' %}<br> <b>{% trans '&РАБОТНИКОВ' %}</b></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="our_stats_info">
                    <span class="our_stats_number"><span style="font-size: 0.8em; vertical-align: 7px;">2</span>57<span style="vertical-align: 8px;">8</span></span>
                    <div class="our_stats_text">{% trans 'ДОВОЛЬНЫХ' %}<br> <b>{% trans 'КЛИЕНТОВ' %}</b></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="electro">
    <div class="containerfluid">
        <div class="row">
            <div class="col-lg-5" style="overflow: hidden; padding: 0;">
                <img class="electro-img" src="https://www.audi.ru/dam/nemo/models/e-tron/audi-e-tron/my-2019/1920x1080-mtc-xl-16-9/1920x1080-MO_20_Audi_e-tron_Reveal_RGB.jpg?output-format=webp&downsize=1920px:*" alt="">
            </div>
            <div class="col-lg-7">
                <div class="electro-info">
                    <h1>
                    К устойчивому будущему с решениями электрической мобильности
                    </h1>
                    <p class="electro-text">
                        Создание и развитие электрических транспортных средств имеет решающее значение для формирования устойчивой мобильности будущего во всем мире. Поэтому мы поставили перед собой задачу к 2025 году вывести на рынок 30 электрифицированных моделей. 20 из них будут полностью электрическими, с нулевым уровнем локальных выбросов CO₂. Для нас электрическая мобильность является ключевой составляющей стабильной и экологически безопасной транспортной системы.
                    </p>
                    <p class="electro-mimi-text">
                        Audi e-tron Sportback: расход энергии в смешанном цикле: 20,6–23,9 кВт·ч/100 км (NEFZ); 21,6–26,3 кВт·ч/100 км (WLTP). Выбросы CO₂ в смешанном цикле: 0 г/км.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="how_it_works">
    <div class="container">
        <div class="row framme">
            <div class="row how_it_works_label_1">
                <h2 class="gray_title">{% trans 'Процесс покупки авто' %}</h2>
            </div>
            <div class="row how_it_works_label_2">
                <h2 class="wide_title">{% trans 'Как это' %} <strong>{% trans 'работает' %}</strong></h2>
            </div>
            <div class="row justify-content-between">
                <div class="col-lg-3 col-md-6">
                    <div class="slot">
                        <div class="slot-img-outer">
                            <img class="slot-img" src="{% static 'img/carrepair-img-2.png' %}" alt="1">
                        </div>
                        <h3><strong>{% trans 'Приходите в' %}</strong></h3>
                        <h3>{% trans 'Автосалон' %}</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="slot">
                        <div class="slot-img-outer">
                            <img class="slot-img" src="{% static 'img/carrepair-img-3.png' %}" alt="2">
                        </div>
                        <h3><strong>{% trans 'Выбираете' %}</strong></h3>
                        <h3>{% trans 'Автомобиль' %}</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="slot">
                        <div class="slot-img-outer">
                            <img class="slot-img" src="{% static 'img/carrepair-img-4.jpg' %}" alt="3">
                        </div>
                        <h3><strong>{% trans 'Совершите' %}</strong></h3>
                        <h3>{% trans 'Покупку' %}</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="slot">
                        <div class="slot-img-outer">
                            <img class="slot-img" src="{% static 'img/carrepair-img-5.jpg' %}" alt="4">
                        </div>
                        <h3><strong>{% trans 'Получите ваш' %}</strong></h3>
                        <h3>{% trans 'Автомобиль' %}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="our_latest_specials">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4" style="padding: 0%;">
                <img src="{% static 'img/carrepair-img-6.png' %}" alt="25">
            </div>
            <div class="col-lg-9">
                <div class="row our_latest_specials_content">
                    <div class="row">
                        <h2 class="wide_title">{% trans 'Наши акции' %}</h2>
                    </div>
                    <div class="row">
                        <h2 class="wide_title"><strong>{% trans 'Скидка на все услуги сервиса' %}</strong></h2>
                    </div>
                    <div class="row">
                        <p>
                            {% trans 'Мы ценим наших клиентов, поэтому мы хотим предоставить вам эту специальную скидку, чтобы вы могли использовать ее, чтобы сделать свой автомобиль более безопасным и чувствовать себя уверенно в дороге!' %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="our_certified">
    <div class="container">
        <div class="row framme">
            <div class="row our_certified_label_1">
                <h2 class="gray_title">{% trans 'Наши гарантии' %}</h2>
            </div>
            <div class="row our_certified_label_2">
                <h2 class="wide_title">{% trans 'Почему вы должны' %} <strong>{% trans 'выбрать нас?' %}</strong></h2>
            </div>
            <div class="row justify-content-between">
                <div class="col-lg-4">
                    <div class="our_certified_block">
                        <div class="our_certified_block_content">
                            <div class="our_certified_icon our_certified_icon_fa">
                                <i class="fa fa-calculator" aria-hidden="true"></i>
                            </div>
                            <h3><strong>{% trans 'Развитие' %}</strong></h3>
                            <p class="text">
                                {% trans 'Автосалон AUDI Store - это команда единомышленников и самый быстроразвивающийся автосалон по продаже автомобилей.' %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="our_certified_block">
                        <div class="our_certified_block">
                            <div class="our_certified_block_content">
                                <div class="our_certified_icon our_certified_icon_fa">
                                    <i class="fa fa-paste" aria-hidden="true"></i>
                                </div>
                                <h3><strong>{% trans 'Доверие' %}</strong></h3>
                                <p class="text">
                                    {% trans 'Множество довольных клиентов возвращаются в наш автосалон, чтобы получить новое авто по низкой цене!' %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="our_certified_block">
                        <div class="our_certified_block">
                            <div class="our_certified_block_content">
                                <div class="our_certified_icon our_certified_icon_fa">
                                    <i class="fa fa-certificate" aria-hidden="true"></i>
                                </div>
                                <h3><strong>{% trans 'Гарантии' %}</strong></h3>
                                <p class="text">
                                    {% trans 'Мы гарантируем что ваш автомобиль прослужит дольше чем это указано в договоре о покупке!' %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="photos">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="photos_box">
                <img src="{% static 'img/car_1.jpg' %}" alt="11">
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="photos_box">
                <img src="{% static 'img/car_2.jpg' %}" alt="12">
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="photos_box">
                <img src="{% static 'img/car_3.jpg' %}" alt="13">
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="photos_box">
                <img src="{% static 'img/car_4.jpg' %}" alt="14">
            </div>
        </div>
    </div>
</section>

<section class="schedule_appointment">
    <div class="container">
        <div class="row framme">
            <div class="col-lg-4">
                <img src="{% static 'img/image-11.jpg' %}" alt="111">
            </div>
            <div class="col-lg-8">
                <div class="schedule_appointment_content">
                    <div class="row schedule_appointment_label_1">
                        <h2 class="wide_title">{% trans 'Запишитесь на тест-драйв' %}</h2>
                    </div>
                    <div class="row schedule_appointment_label_2">
                        <h2 class="wide_title schedule_appointment_red_h"><strong>{% trans 'Позвонить' %}: +7 (978) 897 98 73</strong></h2>
                    </div>
                    <div class="row schedule_appointment_label_3">
                        <h6 class="text">{% trans 'Выберите автомобиль, который наилучшим образом соответствует вашим потребностям.' %}</h6>
                    </div>
                    <div class="row">
                        <div class="col" style="padding: 0;">
                            <a href="{% url 'test_drive' %}"><button class="slider_button btn" style="margin-top: 0px;">{% trans 'Записаться' %}</button></a>
                        </div>
                        <!--<div class="col" style="padding: 0;">
                            <button class="slider_button black_button btn">{% trans 'GET QUOTE' %}</button>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contacts">
    <div class="container">
        <div class="row framme">
            <div class="col-lg-4" style="padding: 0;">
                <div class="row">
                    <div class="col-2 contacts_icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                    <div class="col-10 contacts_info">
                        <h6></h6>
                        <h6>{% trans 'Ул. Университетская 33' %}</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" style="padding: 0;">
                <div class="row">
                    <div class="col-2 contacts_icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                    <div class="col-10 contacts_info">
                        <h6></h6>
                        <h6>+7 (978) 897 98 73</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" style="padding: 0;">
                <div class="row">
                    <div class="col-2 contacts_icon"><i class="fa fa-clock-o " aria-hidden="true"></i></div>
                    <div class="col-10 contacts_info">
                        <h6></h6>
                        <h6>{% trans 'Понедельник-Пятница' %}<br> 08:00-18:00</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Acda90f0e685f4720ae77812bf21de398f0480379cad8f4ba343dd039618b42b4&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>

{% endblock content %}
