{% extends 'base.html' %}
{% load static %}

{% block title %}Магазин деталей{% endblock title %}

{% block content %}
<section>
    <div class="container">
        <div class="row filter">
            <div class="col-lg-6">
                <form action="{% url 'shop_search' %}" method="get">
                    <div class="search">
                        <input type="text" name="search_query" placeholder="Введите свой запрос" required>
                        <button type="submit">Поиск</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-6">
                <form action="{% url 'shop_sort' %}" method="get">
                    <div class="sort-outer">
                        <div class="sort">
                            <select name="criterion" id="">
                                <option value="-rating">Самые популярные</option>
                                <option value="price">По возвростанию цены</option>
                                <option value="-price">По убыванию цены</option>
                            </select>
                        </div>
                        <button type="submit">Сортировать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        {% if not product_list %}
        <div>По вашему запросу "{{ search_query }}" ничего не найдено</div>
        {% endif %}
        {% for product in product_list %}
        <div class="row">
            <div class="item">
                <div class="col-lg-4">
                    <div class="outer-item-picture">
                        <img class="itemPicture" src="{{ product.picture.url }}" alt="">
                    </div>
                    <div class="rating rating-review rating-shop">
                        <div>
                            <input type="radio" {% if product.rating == 5 %}checked{% endif %} disabled ><label for="">
                            </label>
                            <input type="radio" {% if product.rating == 4 %}checked{% endif %} disabled ><label for="">
                            </label>
                            <input type="radio" {% if product.rating == 3 %}checked{% endif %} disabled ><label for="">
                            </label>
                            <input type="radio" {% if product.rating == 2 %}checked{% endif %} disabled ><label for="">
                            </label>
                            <input type="radio" {% if product.rating == 1 %}checked{% endif %} disabled ><label for="">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <h5><b class="itemTitle">{{ product.name }}</b></h5>
                    <h6><b>Цена:</b>
                        <spin class="itemPrice">{{ product.price }}₽</spin>
                    </h6>
                    <ul class="icons">
                        <!--<li><i class="fa fa-cart-plus cartPlus" aria-hidden="true" data-slug="{{ product.slug }}"></i></li>-->
                        <!--<li><i class="fa fa-info-circle" aria-hidden="true"></i></li>-->
                        <li><a href="{{ product.get_absolute_url }}">
                            <button class="itemButton">Подробнее</button>
                        </a></li>
                        <li>
                            <button class="itemButton cartPlus" data-slug="{{ product.slug }}">В корзину</button>
                        </li>
                    </ul>
                    <hr>
                    <p class="mini-description">
                        {{ product.description }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="container">
        <div class="row">
            {% include 'include/pagination.html' %}
        </div>
    </div>
</section>

<div id="pop-out"></div>

<script src="{% static 'js/shop.js' %}"></script>

{% endblock content %}
