{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<section class="testdrive_main_title">
    <div class="container">
        <div class="row">
            <div class="row testdrive_main_title_1">
                <h2 class="wide_title">{% trans 'Запись на тест-драйв' %}</h2>
            </div>
            <div class="row testdrive_main_title_2">
                <h6 class="text">{% trans 'Выбираете новый автомобиль? Пройдите тест-драйв на автомобилях, чтобы убедиться в их ходовых характеристиках и эргономике.' %}</h6>
            </div>
        </div>
    </div>
</section>
<section class="testdrive_form">
    <div class="container">
        <div class="testdrive_content">
            <form onsubmit="return SubmitForm()" action="{% url 'record_on_test_drive' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <div class="select_model">
                            <select name="car_model" class="form-control" id="selectAuto">
                                <option value="None">{% trans 'Выберите модель авто' %}*</option>
                                {% for car in cars %}
                                    <option value="AUDI {{ car.model }} {{ car.line }}">AUDI {{ car.model }} {{ car.line }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="select_model">
                            <select name="time" class="form-control" id="selectTime">
                                <option value="None">{% trans 'Выберите время' %}*</option>
                                <option value="9:00">9:00</option>
                                <option value="10:00">10:00</option>
                                <option value="11:00">11:00</option>
                                <option value="12:00">12:00</option>
                                <option value="14:00">14:00</option>
                                <option value="15:00">15:00</option>
                            </select>
                        </div>
                        <div class="input_div" style="color: #999;">
                            <input name="date" type="date" class="input" required>
                        </div>
                        <p class="text">* {% trans 'Обязательное поле' %}</p>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="input_div one">
                            <h5></h5>
                            <input placeholder="{% trans 'Имя' %}*" name="name" type="text" class="input" required>
                        </div>
                        <div class="input_div two">
                            <h5></h5>
                            <input placeholder="{% trans 'Фамилия' %}*" name="surname" type="text" class="input" required>
                        </div>
                        <div class="input_div three">
                            <h5></h5>
                            <input placeholder="Email*" name="mail" type="email" class="input" required>
                        </div>
                        <div class="input_div four">
                            <h5></h5>
                            <input placeholder="{% trans 'Телефон' %}*" name="phone" type="text" class="input" required>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 30px;">
                    <button type="submit" class="slider_button testdrive_btn">{% trans 'Отправить' %}</button>
                </div>
            </form>
        </div>
    </div>
</section>

<script src="{% static 'js/test_drive_validation.js' %}"></script>
<!--<script src="{% static 'js/testDrive.js' %}"></script>-->
{% endblock content%}